* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

[draggable],
.uib-app-aside ul,
.uib-app-aside ul li {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: element;
}

.uib-app-main {
  width: 100%;
}

.uib-app-pad, .uib-app-aside ul, .uib-app-main, .uib-item-props-edit {
  padding: 1rem;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.uib-v-div {
  width: 1px;
  border-right: 1px solid #ccc;
}

.uib-app-container {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.uib-app-wrapper {
  display: flex;
  height: 100%;
}

.uib-app-header {
  background: #fff;
  box-shadow: 0 2px 3px #ccc;
  z-index: 1;
  font-size: .7rem;
  flex-shrink: 0;
}
.uib-app-logo {
  padding: 1rem;
  display: inline-block;
  text-transform: uppercase;
}

.uib-app-aside {
  max-width: 14rem;
  min-width: 14rem;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.uib-item-props-edit {
  background: #fff;
  min-height: 100px;
  overflow-y: auto;
  box-shadow: 0 0 10px #777;
  z-index: 1;
  flex-shrink: 0;
}
.uib-item-props-edit .uib-item-props-edit-header {
  padding: .5rem 1rem;
  margin: -1rem -1rem 1rem -1rem;
  background: #eee;
  border-bottom: solid 1px #ccc;
  text-align: right;
}

.uib-app-aside ul {
  padding: 0;
  margin: 0;
  font-size: .85rem;
  overflow-y: auto;
  flex-grow: 1;
}
.uib-app-aside ul li {
  list-style: none;
}
.uib-app-aside ul li:hover .uib-tree-item {
  background: #d0d0d0;
}
.uib-app-aside ul li ul {
  padding: 0 0 0 1rem;
}

.uib-app-main {
  background: #6c6c6c;
  display: flex;
}
.uib-app-main .uib-canvas-wrapp {
  min-width: 100%;
  min-height: 100%;
}
.uib-app-main iframe {
  border: solid 1px #bbb;
  background: #fff;
  min-width: 100%;
  min-height: calc(100vh - 4.7rem);
}

.uib-app-canvas {
  border: solid 1px #ccc;
  overflow: auto;
  transition: .3s;
}
.uib-app-canvas.drag,
.uib-tree-item.drag{
  background: #E5CE9A !important;
}

.uib-tree-item {
  padding: .5rem;
  margin-bottom: .5rem;
  transition: .3s;
}
.uib-tree-item:before {
  content: '\00230A';
  padding-right: .3rem;
  color: silver;
}
.uib-tree-item.in-drag {
  background: #bbb;
  transform: scale3d(1.1,1.1,1.1);
  box-shadow: 0 0 6px #aaa;
}



.box {
  border: solid 2px blue;
  background: #fff;
  padding: 1rem;
  margin: 1rem;
  min-height: 100px;
}
.box.small {
  max-width: 200px;
}
.box.red {
  background: #fcc;
}
.box.at-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.bg-gray {
  background: silver
}
.bg-blue {
  background: #ccf;
}
.layout {
  display: flex;
}
.layout aside {
  min-width: 20%;
}
.layout main {
  flex-grow: 1;
}
