<div class="uib-tree-item">
  <span class="uib-elem-tag-name">{{::node.tagName}}</span>
  <span ng-if="node.identifier" class="uib-elem-identifier">{{node.identifier}}</span>
  <aside>
    <a href="#" ng-click="editElem(node)" class="uib-btn"><i class="i-wrench"></i></a>
    <a href="#" ng-click="removeElem(node)" class="uib-btn"><i class="i-cancel"></i></a>
  </aside>
</div>
<ul ng-if="node.children.length > 0">
  <li ng-repeat="node in node.children" ng-include="'scripts/domTree/directives/domTreeItem.html'"></li>
</ul>
