.uib-screen-size-selector
  label(for='screen-size-selector')
    | Screen size:&nbsp;
    select#screen-size-selector(ng-model='selectedSize', ng-options='preset as preset.name for preset in presets')
  label(for='screen-rotated')
    | Screen is rotated 
    input#screen-rotated(type='checkbox', ng-model='rotated')
