doctype html
html(ng-app='uiBuilderApp')
  head
    base(href="/")
    meta(charset='utf-8')
    title uiBuilder
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='styles/main.css')
  body
    uib-notifications
    .no-shrink(ng-include="'/frontend/scripts/header/views/header.html'")
    .app-view(ng-view)
    script(src='/scripts/uibuilder.js')
