<header class="header">
  <span class="uib-app-logo">
    <i class="i-desktop"></i>
    ui builder
  </span>
  <span class="uib-separator"></span>
  <span ng-click="main.toggleSourceView()" class="uib-btn">
    <span ng-hide="main.viewSourse">
      <i class="i-source"></i> Show
    </span>
    <span ng-show="main.viewSourse">
      <i class="i-layout"></i> Hide
    </span>
    html
  </span>

  <span class="uib-btn">Logout</span>
</header>
<div class="uib-app-wrapper">
  <uib-repo-items-tree tree="main.repoItems.componentsTree"></uib-repo-items-tree>
  <uib-canvas></uib-canvas>
  <uib-dom-tree-view tree="main.domTree"></uib-dom-tree-view>
</div>
<uib-item-properties-edit data="main.editableElement"></uib-item-properties-edit>
<uib-html-view></uib-html-view>
