<div class="uib-app-wrapper">
  <div class="uib-container">
    <div class="uib-pane">
      <h1>Your gallery</h1>
      <ul class="uib-gallery uib-pane--small">
        <li class="uib-gallery__item" ng-repeat="item in gallery.items track by $index">
          <h3 class="uib-gallery__item__title">{{::item.title || 'Untitled'}}</h3>
          <h6>{{::item.created | date}}</h6>
          <button ng-click="gallery.continue(item._id)" class="uib-btn uib-btn--dark uib-btn--small">Continue</button>
        </li>
      </ul>
      <div class="uib-pane--small">
        <button ng-click="gallery.startNewSession()" class="uib-btn uib-btn--dark">Add a new masterpiece to your gallery!</button>
      </div>
    </div>
  </div>
</div>
