<!doctype html>
<html class="no-js" ng-app="uiBuilderApp">
  <head>
    <meta charset="utf-8">
    <title>uiBuilder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body ng-controller="MainCtrl as main">
    <header class="header">
      <span class="uib-app-logo">
        <i class="i-desktop"></i>
        ui builder
      </span>
      <span class="uib-separator"></span>
      <span class="uib-btn" ng-click="main.toggleSourceView()">
        <span ng-hide="main.viewSourse">
          <i class="i-source"></i>
          Show
        </span>
        <span ng-show="main.viewSourse">
          <i class="i-layout"></i>
          Hide
        </span>
        html
      </span>
    </header>
    <div class="uib-app-wrapper">
      <div class="uib-app-aside">
        <repo-items-tree tree="main.repoItems.componentsTree"></repo-items-tree>
      </div>
      <ui-canvas></ui-canvas>
      <div class="uib-app-aside">
        <dom-tree-view root-selector=".uib-app-main iframe" tree="main.domTreeRoot"></dom-tree-view>
      </div>
    </div>

    <item-properties-edit data="main.editableElement"></item-properties-edit>

    <div class="uib-html-view uib-modal uib-modal--hidden" ng-class="{'uib-modal--hidden': !main.viewSourse}">
      <header class="uib-modal__header">
        <span class="uib-modal__header__label">Source code</span>
        <aside class="uib-modal__header__ctrls">
          <a href="#" class="uib-btn" ng-click="main.toggleSourceView()"><i class="i-ok"></i></a>
        </aside>
      </header>
      <div class="uib-modal__content">
        <textarea class="uib-source-view" ng-model="main.sourse"></textarea>
      </div>
    </div>

    <!-- build:js({.,.tmp,app}) scripts/scripts.js -->
    <script src="bower_components/angular/angular.js"></script>

    <script src="scripts/uib-templates.js"></script>
    <script src="scripts/app.js"></script>

    <script src="scripts/canvas/module.js"></script>
    <script src="scripts/canvas/directives/uiCanvas.js"></script>
    <script src="scripts/canvas/services/canvas.js"></script>

    <script src="scripts/common/module.js"></script>
    <script src="scripts/common/controllers/main.js"></script>
    <script src="scripts/common/services/common.js"></script>
    <script src="scripts/common/services/domElem.js"></script>
    <script src="scripts/common/services/elemManager.js"></script>
    <script src="scripts/common/services/recursionHelper.js"></script>
    <script src="scripts/common/services/dragDropHandler.js"></script>

    <script src="scripts/domTree/module.js"></script>
    <script src="scripts/domTree/directives/domTreeView.js"></script>
    <script src="scripts/domTree/services/domTreeParser.js"></script>

    <script src="scripts/propertyEditor/module.js"></script>
    <script src="scripts/propertyEditor/directives/itemPropertiesEdit.js"></script>

    <script src="scripts/repository/module.js"></script>
    <script src="scripts/repository/filters/repoItemClassifier.js"></script>
    <script src="scripts/repository/directives/repoItem.js"></script>
    <script src="scripts/repository/directives/repoItemsTree.js"></script>
    <script src="scripts/repository/services/repository.js"></script>
    <!-- endbuild -->
</body>
</html>
