<div class="uib-app-wrapper">
  <div class="uib-container">
    <div class="uib-pane">
      <h1>Prepare a new Session</h1>
      <div class="uib-pane uib-pane--small">
        <h4>This is the inital session setup</h4>
      </div>
      <div class="flex-row">
        <div class="uib-pane uib-pane--small">
          <h4 class="uib-pane__title">Inital HTML</h4>
          <textarea ng-model="sessionStarter.initials.html"></textarea>
        </div>
        <div class="uib-pane uib-pane--small">
          <h4 class="uib-pane__title">Inital CSS</h4>
          <textarea ng-model="sessionStarter.initials.css"></textarea>
        </div>
        <div class="uib-pane uib-pane--small">
          <h4 class="uib-pane__title">Inital JS</h4>
          <textarea ng-model="sessionStarter.initials.js"></textarea>
        </div>
      </div>
      <div class="uib-pane uib-pane--small">
        <button ng-click="sessionStarter.start()" class="uib-btn uib-btn__dark">Start new session</button>
      </div>
    </div>
  </div>
</div>
