<div class="uib-app-wrapper">
  <div class="uib-container">
    <uib-tabs>
      <uib-tab name="Canvas settings" icon="i-code">
        <span>HTML</span>
        <textarea class="flex-prior" ng-model="editSettingsCtrl.sessionInitials.html"></textarea>

        <span>JS</span>
        <textarea class="flex-prior" ng-model="editSettingsCtrl.sessionInitials.js"></textarea>

        <span>CSS</span>
        <textarea class="flex-prior" ng-model="editSettingsCtrl.sessionInitials.css"></textarea>

        <button ng-click="editSettingsCtrl.updateSession()" class="uib-btn uib-btn--dark">Save changes</button>
      </uib-tab>
    </uib-tabs>
  </div>
</div>
