<div class="uib-item-props-edit uib-modal" ng-class="{'uib-modal--hidden': elem === null}">

  <header class="uib-item-props-edit-header uib-modal__header">
    <span class="uib-modal__header__label">
      {{elem.tagName}} <small>{{elemIdentifier}}</small>
    </span>
    <aside class="uib-modal__header__ctrls">
      <a href="#" class="uib-btn" ng-click="done()"><i class="i-ok"></i></a>
      <a href="#" class="uib-btn" ng-click="remove()"><i class="i-trash"></i></a>
      <a href="#" class="uib-btn" ng-click="close()"><i class="i-cancel"></i></a>
    </aside>
  </header>

  <form name="propsEditForm" class="props-edit-form uib-modal__content">
    <div ng-repeat="param in elem.uibParams" class="uib-prop-row">
      <div ng-include="getParamTemplateUrl(param)"></div>
    </div>
  </form>

</div>
