.uib-wrapper--app
  .uib-pane
    .uib-pane.uib-pane--small
      h1.uib-pane__title Login

    .uib-pane.uib-pane--small
      h3
        | No account?
        a(href='registration') Register

    .uib-pane.uib-pane--small
      form#loginForm(name='loginForm', ng-submit='login.logUserIn()', novalidate='')
        .uib-form__control
          label(for='email-login') Your email
          input#email-login(type='email', name='email', ng-model='login.loginData.email')

        .uib-form__control
          label(for='email-password') Your password
          input#email-password(type='password', name='password', ng-model='login.loginData.password')

        .uib-form__control
          input.uib-btn.uib-btn--dark(type='submit', value='Log me in')
