.uib-app-wrapper
  .uib-pane
    .uib-pane.uib-pane--small
      h1.uib-pane__title Register

    .uib-pane.uib-pane--small
      form#registerForm(name='registerForm', ng-submit='login.registerNewUser()', novalidate='')
        .uib-form__control
          label(for='reg-username') Email
          input#reg-username(type='email', name='login', ng-model='login.registerData.username', pattern='[^\s]+@[^\s]+\.[\w]{2,}')
        .uib-form__control
          label(for='reg-password') Password
          input#reg-password(type='password', name='password', ng-model='login.registerData.password')
        .uib-form__control
          label(for='reg-password-confirm') Password confirmation
          input#reg-password-confirm(type='password', name='passwordConfirmation', ng-model='login.registerData.passwordConfirmation')
        .uib-form__control
          input.uib-btn.uib-btn--dark(type='submit', value='Register me')
