uib-modal(name='property-editor')
  uib-modal-header(label='{{propsEditor.elem.name}}')
  uib-modal-content
    form(name='propsEditForm')
      h4.margined Main options set of the element
      .uib-form__control(ng-repeat='param in propsEditor.elem.parameters')
        div(ng-include='propsEditor.getParamTemplateUrl(param)')
      div(ng-if='propsEditor.elem.behaviors && propsEditor.elem.behaviors.length')
        h4.margined Added behavior
        .uib-form__control(ng-repeat='behav in propsEditor.elem.behaviors track by $index')
          button.uib-btn.uib-btn--dark.uib-btn--small(ng-click='removeBehavior(propsEditor.elem, behav)', title='Remove this behavior')
            i.i-trash
          strong {{::behav.name}}
          div(ng-include='propsEditor.getBehaviorTemplateUrl(behav)')
