header.header(ng-controller='HeaderCtrl as header')
  a.uib-app-logo(href='/')
    i.i-desktop
    | ui builder
  .flex-prior
    span.uib-btn(ng-if='header.isUserAuthenticated()', ng-click='header.logout()') Logout
