<div class="uib-app-wrapper">
  <uib-repo-items-tree tree="builder.repoItems.componentsTree"></uib-repo-items-tree>
  <uib-result-tree tree="builder.resultTree"></uib-result-tree>
  <div class="uib-container">
    <uib-tabs>
      <uib-tab name="Canvas" icon="i-canvas">
        <uib-canvas></uib-canvas>
      </uib-tab>
      <uib-tab name="Canvas settings" icon="i-code">
        <div class="no-shrink">
          <span>Share edit settings page</span>
          <input type="text" value="{{::builder.editSettingsURL}}">
        </div>
        <span>HTML</span>
        <textarea class="flex-prior" ng-model="builder.currentSession.initial.html"></textarea>

        <span>JS</span>
        <textarea class="flex-prior" ng-model="builder.currentSession.initial.js"></textarea>

        <span>CSS</span>
        <textarea class="flex-prior" ng-model="builder.currentSession.initial.css"></textarea>

        <button ng-click="builder.updateSession()" class="uib-btn uib-btn--dark">Save changes</button>
      </uib-tab>
      <uib-tab name="Result" icon="i-result">
        <div class="no-shrink">
          <span>Share view link</span>
          <input type="text" value="{{::builder.shareSessionURL}}">
        </div>
        <span class="no-shrink">Resulting code</span>
        <textarea class="flex-prior" class="uib-source-view" ng-model="builder.resultingHTML" rows="8"></textarea>
        <button ng-click="builder.fetchResult()" class="uib-btn uib-btn--dark">Get the result</button>
      </uib-tab>
    </uib-tabs>
  </div>
</div>
<uib-item-properties-edit data="builder.editableElement"></uib-item-properties-edit>
