<div class="uib-app-wrapper">
  <uib-repo-items-tree tree="builder.repoItems.componentsTree"></uib-repo-items-tree>
  <div class="uib-container">
    <uib-tabs>
      <uib-tab name="Canvas">
        <uib-canvas></uib-canvas>
      </uib-tab>
      <uib-tab name="Canvas HTML">
        <textarea class="flex-prior" ng-model="builder.initial.html"></textarea>
        <button ng-click="builder.setInitial()" class="uib-btn uib-btn--dark">Set HTML</button>
      </uib-tab>
      <uib-tab name="Canvas JS">
        <textarea class="flex-prior" ng-model="builder.initial.js"></textarea>
        <button ng-click="builder.setInitial()" class="uib-btn uib-btn--dark">Set JS</button>
      </uib-tab>
      <uib-tab name="Canvas CSS">
        <textarea class="flex-prior" ng-model="builder.initial.css"></textarea>
        <button ng-click="builder.setInitial()" class="uib-btn uib-btn--dark">Set CSS</button>
      </uib-tab>
      <uib-tab name="Result">
        <textarea class="flex-prior" class="uib-source-view" rows="8">{{builder.getSource()}}</textarea>
      </uib-tab>
    </uib-tabs>
  </div>
  <uib-result-tree tree="builder.domTree"></uib-dom-tree-view>
</div>
<uib-item-properties-edit data="builder.editableElement"></uib-item-properties-edit>
