label
  color secondaryTextColor

textarea,
input[type="text"],
input[type="password"]
  margin 0
  border none
  border-bottom solid 1px accentColor
  box-sizing border-box
  width 100%
  padding .5rem
  font-size 1rem
  background transparent
  color secondaryTextColor
  &:focus
    outline none
    border-bottom solid 1px primaryColor
    color primaryColor

.uib-btn
  padding 1rem
  display inline-block
  color #fff
  background transparent
  border none
  transition background .1s
  cursor pointer
  &:hover
    background rgba(255, 255, 255, .1)

  &--small
    padding 0.4rem 0.6rem
    font-size 0.8rem

  &--dark
    background #607D8B
    &:hover
      background #607D8B
