.uib-gallery
  @extend .flex
  flex-wrap wrap
  margin 0
  padding 0
  list-style none

  &__item
    padding (basicUnit * 2)
    border solid 1px lineColor
    margin (basicUnit * 2) (basicUnit * 2) 0 0

    &__title
      margin 0
