.uib-gallery
  @extend .flex
  flex-wrap wrap
  margin 0
  padding 0
  list-style none
  overflow auto

  &__item
    padding 1rem
    border solid 1px #eee
    margin 1rem 1rem 0 0

    &__title
      margin 0
