body
  @extend .flex-col

.uib-app-logo
  @extend .unselectable
  padding 1rem
  color headerTextColor
  text-decoration none
  text-transform uppercase

.uib-app-wrapper
  @extend .flex, .flex-prior
  height 100%

.uib-app-main
  background minorBackground
  width 100%
  position relative

.uib-container
  @extend .flex-col
  flex-grow 1
