body
  size 100%
  @extend .flex-col

.uib-app-logo
  @extend .unselectable
  padding 1rem
  color headerTextColor
  text-decoration none
  text-transform uppercase

.uib-app-wrapper,
.app-view
  @extend .flex, .flex-prior
  min-height 0%

.uib-app-main
  background minorBackground
  width 100%
  position relative

.uib-container
  @extend .flex-col
  flex-grow 1

.header
  @extend .flex, .no-shrink
  background headerBackground
  color headerTextColor
  box-shadow 0 2px 3px rgba(0,0,0,0.25)
  z-index 2
