.uib-notifications
  absolute false 0 0 0

.uib-notification
  padding 1rem

  &__message
    color white
    font-weight bold

  &--success
    background notificationSuccessColor

  &--error
    background notificationErrorColor

  &--info
    background notificationInfoColor
