.uib-repository

  &__item
    color #000

    &.drag-from
      @extend .element-drag-from
      box-shadow 0 0 4px rgba(0, 0, 0, .2)

    &--movable
      cursor move

  &__group
    color treeMinor
