.uib-result-tree__item
  margin basicUnit 0 0 basicUnit

  &__label
    align-items center

  &--hovered
    background secondaryColor

    & > .uib-result-tree__item__placeholder
      height 20px
      padding .3rem
