longAnimation = .4s
animationFn = ease-in-out

textColor = #212121
lineColor = #B6B6B6

secondaryTextColor = #727272
accentColor = #607D8B
lightPrimaryColor = #C8E6C9
primaryColor = #388E3C
secondaryColor = #C8E6C9
headerBackground = primaryColor
headerTextColor = #FFFFFF

sideBarSize = 15rem

modalBackground = #FFFFFF
modalPadding = 2rem

minorBackground = #EEEEEE
hoverElementBackground = #E3F2FD
dragFromBackground = #FFCC80

treeMinor = #999

optionValueBackground = lightPrimaryColor
activeValueColor = #0288D1
