.uib-tabs
  @extend .flex-col
  flex-grow 1

  &__row
    @extend .flex-row

.uib-tab

  &__button
    cursor pointer
    padding .5rem
    flex-grow 1
    flex-basis 0
    text-align center

    &.selected
      border-bottom solid 2px primaryColor
      color primaryColor

  &__content
    @extend .flex-col
    flex-grow 1

    & > div
      @extend .flex-col
      flex-grow 1
