.uib-tree
  max-width sideBarSize
  background minorBackground
  font-size .85rem
  flex 1
  margin 0
  padding 0

  &.uib-extended
    max-width (sideBarSize * 3)
    min-width (sideBarSize * 3)

  & &
    min-width 0%
    padding 0 0 0 basicUnit
    background-color rgba(0, 0, 0, .03)
