.uib-tree__item
  @extend .flex-col, .no-overflow, .unselectable
  list-style none
  padding 0.3rem 0 0.3rem 0.3rem
  min-height 1.7rem
  display flex
  justify-content center
  transition .3s background

  &[draggable="true"]
    font-weight bold

  i
    color treeMinor

  &__label
    @extend .flex-prior

  &__aside
    @extend .flex
    @extend .no-shrink

    .uib-btn
      padding .1rem

.placeholder--child
  margin-left .5rem

.uib-elem-tag-name
  @extend .no-shrink

.uib-elem-identifier
  color treeMinor
