html
  font-family font-stack("Helvetica Neue")
  font-size 100%

h1, h2, h3, h4
  margin 0
  font-weight 100

  &.margined
    margin-bottom 1rem

h1
  font-size modular-scale(1rem, 4)

h2
  font-size modular-scale(1rem, 3)

h3
  font-size modular-scale(1rem, 2)

h4
  font-size modular-scale(1rem, 1)

h5, h6
  color secondaryTextColor
