.uib-canvas
  flex-grow 1
  position relative

  .uib-canvas-shadow
    absolute 0 0 0 0
    visibility hidden
    overflow auto
    background aliceblue
    z-index 1

  .uib-canvas-sandbox
      absolute 0 0 0 0
      border none
      background #fff
