body
  display flex
  flex-flow column nowrap

.uib-app-logo
  @extend .unselectable
  padding 1rem
  text-transform uppercase

.uib-app-wrapper
  display flex
  height 100%
  flex-grow 2

.uib-app-main
  background minorBackground
  width 100%
  position relative

.uib-app-aside
  @extend .scrollable
  background minorBackground
  max-width sideBarSize
  min-width sideBarSize

  ul
    padding 0
    margin 0
    font-size .85rem
    flex-grow 1

    li
      @extend .unselectable
      list-style none

      ul
        padding 0 0 0 1rem
