.uib-modal
  @extend .scrollable
  border-radius 3px
  background modalBackground
  position absolute
  display flex
  flex-direction column
  flex-shrink 0
  max-height 60%
  top 30%
  width 60%
  left 50%
  transform translateX(-50%)
  box-shadow 0 8px 31px rgba(0, 0, 0, 0.25)
  z-index 1

  &__header
    @extend .header

    &__label
      padding 1rem
      flex-grow 1

    &__ctrls
      flex-shrink 0

  &__content
    @extend .scrollable
    display block
    padding modalPadding
