.uib-modal
  @extend .scrollable
  @extend .flex-col
  @extend .no-shrink
  @extend .big-shadow
  @extend .animated
  border-radius 3px
  background modalBackground
  position absolute
  top 0
  left 50%
  max-height 60%
  width 60%
  transform translate3d(-50%, 70%, 0)
  will-change transform, opacity
  z-index 1

  &--hidden
    transform translate3d(-50%, -100%, 0)
    opacity 0

  &__header
    @extend .header

    &__label
      @extend .flex-prior
      padding 1rem

    &__ctrls
      @extend .no-shrink

  &__content
    @extend .scrollable
    display block
    padding modalPadding
