.uib-item-props-edit

  .uib-prop-row
    margin-bottom .5rem
    padding-bottom .5rem
    border-bottom solid 1px #ccc

    &:last-child
      margin-bottom 0
      padding-bottom 0
      border-bottom none

  .uib-prop-row-values
    overflow hidden

  .uib-prop-row-value
    float left
    margin .1rem
    padding .2rem .4rem
    background optionValueBackground
    border-radius .2rem

    &first-child
      margin-left 0

    input[type="text"],
    .uib-source-view
      width 100%
      font-family monospace
      font-size 1rem
      line-height 1rem
