.uib-item-props-edit

  .uib-prop-row
    margin-bottom .5rem
    padding-bottom .5rem
    border-bottom solid 1px #ccc
    overflow hidden

    &:last-child
      margin-bottom 0
      padding-bottom 0
      border-bottom none

  .uib-prop__label
    color treeMinor

  .uib-prop__value
    float left
    margin .1rem
    padding .4rem .8rem
    background optionValueBackground
    border-radius .2rem

    &:first-child
      margin-left 0

    input[type='radio']
      display none

      &:checked + .uib-prop__label
        color activeValueColor
        text-decoration underline
