longAnimation = .4s
animationFn = ease-in-out

headerBackground = #43A047
headerTextColor = #fff

sideBarSize = 15rem

modalBackground = #fff
modalPadding = 2rem

minorBackground = #EEEEEE
hoverElementBackground = #E3F2FD
dragFromBackground = #FFCC80

treeMinor = #999

optionValueBackground = #E1F5FE
activeValueColor = #0288D1
