headerBackground = #43A047
headerTextColor = #fff

sideBarSize = 14rem

modalBackground = #fff
modalPadding = 2rem

overlayBackground = rgba(255, 255, 255, .7)

minorBackground = #EEEEEE
canvasBackground = #757575
hoverElementBackground = #E3F2FD
dragFromBackground = #FFCC80

optionValueBackground = #BBDEFB
