.uib-tree-item
  @extend .flex
  @extend .no-overflow
  padding .4rem
  transition .3s background
  border-bottom dotted 1px #ccc
  border-left dotted 1px #ccc

  &.drag-from
    @extend .element-to-drop-to
    box-shadow 0 0 4px rgba(0, 0, 0, .2)

  &.drop-to
    background dragFromBackground

  i
    color treeMinor

  &__label
    @extend .flex-prior

  &__aside
    @extend .flex
    @extend .no-shrink

    .uib-btn
      padding .1rem

.uib-elem-tag-name
  @extend .no-shrink

.uib-elem-identifier
  color treeMinor
