.uib-tree-item
  display flex
  padding .4rem
  transition .3s background
  border-bottom dotted 1px #ccc
  border-left dotted 1px #ccc
  overflow hidden

  &.drag-from
    @extend .element-to-drop-to

  &.drop-to
    background dragFromBackground

  &:before
    content '\00230A'
    padding-right .3rem
    color silver

  i
    color #9E9E9E

  &__label
    flex-grow 1

  &__aside
      display flex

.uib-elem-tag-name
  color #424242
  flex-shrink 0

.uib-elem-identifier
  color #9E9E9E
