ul.uib-tree
  uib-result-tree-item(ng-repeat='elem in tree track by $index', model='elem', can-move-up='canMoveUp(elem)', can-move-down='canMoveDown(elem)', move-up='moveUp(elem)', move-down='moveDown(elem)', remove='removeElem(elem)')
