<div class="uib-item-props-edit" ng-show="propCtrl.elem !== null">

  <header class="uib-item-props-edit-header">
    {{propCtrl.elem.tagName}}
    <aside>
      <a href="#" class="uib-btn" ng-click="propCtrl.done()"><i class="i-ok"></i></a>
      <a href="#" class="uib-btn" ng-click="propCtrl.remove()"><i class="i-cancel"></i></a>
    </aside>
  </header>

  <form name="propsEditForm">
    <div ng-repeat="rec in propCtrl.elem.uibParams" class="uib-prop-row">
      <div>{{rec.name}}:</div>
      <input type="text" name="{{rec.attr}}" ng-model="rec.value">
    </div>
  </form>

</div>
